---
layout: default
title: Первая школа SMM | Тюмень
description: Очный курс профессионального ведения социальных сетей
path: home
---

<main class="main-wrapper pt-10">
  <div class="relative">
    <div class="bg--alpaca container absolute top-0 bottom-0 pointer-events-none"></div>
    <div class="container pb-10 lg:grid gap-x-12 relative">
      <h1 class="font-semibold text-5xl visually-hidden">Первая школа SMM</h1>
      <picture>
        <source srcset="/static/img/logo_big.svg" media="(min-width: 1024px)">
        <img class="w-full md:w-3/5" src="/static/img/logo.svg" width="280" alt="Первая школа SMM">
      </picture>
      <p class="text-2xl max-w-sm mt-4 mb-5">{{description}}</p>
      <p class="max-w-lg">Мы — команда специалистов из разных тюменских компаний. С 2015 мы помогаем людям рассказывать о себе и своих продуктах в интернете, создавать сообщества вокруг своих проектов, выстраивать каналы продаж и коммуникаций, и находить новых клиентов.</p>
      <div class="mt-10 text-2xl flex flex-wrap justify-between -mr-4 row-start-1 row-end-4 col-start-2 lg:inline-block self-end">
        <p class="hero__feature hero__feature--date">Ближайший старт <time class="whitespace-nowrap" datetime="{{course.date | safe}}">{{course.date | readableDate}}</time></p>
        <p class="hero__feature hero__feature--lessons">Очные занятия + практика</p>
        <p class="hero__feature hero__feature--price">{{course.price | formatNumber}} ₽ с рассрочкой</p>
      </div>
    </div>
    {% include "./_includes/partials/gallery.html" %}
  </div>
  {% include "./_includes/partials/program.html" %}
  <section class="container my-12">
    <h2 class="text-4xl mb-4">В конце курса вы будете уметь</h2>
    <div class="features__list gap-4 text-xl flex flex-wrap justify-between xl:grid grid-cols-3">
      <p class="features__item features__item--market">опреде­лять целевую аудиторию и формировать позицию на рынке,</p>
      <p class="features__item features__item--strategy">разрабатывать стратегию и медиапланы,</p>
      <p class="features__item features__item--instruments">выбирать и использовать инструменты продвижения,</p>
      <p class="features__item features__item--target">настраивать таргетированную рекламу,</p>
      <p class="features__item features__item--create">создавать запоминающийся графический и текстовый контент.</p>
      <p class="text-white bg-lightBlue-600 p-4 rounded-lg text-base mt-8 bg-gradient-to-b from-lightBlue-600 to-lightBlue-400">Также мы проводим индивидуальные консультации на отдельные темы. <a class="link-dashed" href="#contact">Напишите нам</a>, чтобы узнать подробности.</p>
    </div>
  </section>
  <section class="container pt-12 mb-12" id="price">
    <h2 class="text-4xl mb-4">Учиться у нас — дешевле, чем заказывать продвижение</h2>
    <p>Наши преподаватели работают в тюменских рекламных агентствах, поэтому о ценах мы говорим не по-наслышке.</p>
    <div class="gap-4 flex flex-wrap mt-6 text-white">
      <div class="price__col px-4 py-6 sm:px-6 lg:pb-8 rounded-3xl inline-flex flex-col flex-grow bg-red-500 bg-gradient-to-bl from-red-500 to-red-700">
        <h3 class="text-3xl mb-4">Заказать в агентстве</h3>
        <ul class="list-disc pl-5 space-y-1 mb-6">
          <li>Первичный аудит сообщества — <span class="whitespace-nowrap">от 5&thinsp;000</span> рублей.</li>
          <li>Оформление группы и постов — <span class="whitespace-nowrap">от 10&thinsp;000</span> рублей.</li>
          <li>Настройка таргетированной рекламы — <span class="whitespace-nowrap">от 5&thinsp;000</span> рублей.</li>
          <li>Месяц ведения аккаунта — <span class="whitespace-nowrap">от 20&thinsp;000</span> рублей.</li>
          <li>Трата времени на контроль качества и согласования.</li>
        </ul>
        <p class="text-4xl mt-auto">от 40&thinsp;000 ₽</p>
        <p>Ежемесячные траты.</p>
      </div>
      <div class="price__col px-4 py-6 sm:px-6 lg:pb-8 rounded-3xl inline-flex flex-col flex-grow bg-green-500 bg-gradient-to-bl from-green-500 to-green-700">
        <h3 class="text-3xl mb-4">Выучиться в Школе</h3>
        <ul class="list-disc pl-5 space-y-1 mb-6">
          <li>По цене одного курса вы получите комплексные знания про соц­сети, общение с клиентами, рекламу в ин­тер­не­те, дизайн и текст.</li>
          <li>Предоплата для резервирования места — 5 000 рублей. Остальную часть суммы можно внести до конца теоретической части обучения.</li>
          <li>По окончании школы у вас останутся наш учебник, блокнот и сертификат.</li>
        </ul>
        <p class="text-2xl mt-auto">{{course.price | formatNumber}} ₽</p>
        <p>Раз и навсегда. Есть рассрочка.</p>
      </div>
    </div>
  </section>
  {% include "./_includes/partials/feedback.html" %}
  {% include "./_includes/partials/partners.html" %}
  <svg class="fill-current text-lightBlue-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" fill="#0369A1">
    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"></path>
  </svg>
  <section class="bg-lightBlue-700 text-white pt-8 pb-16 bg-gradient-to-b from-lightBlue-700 to-lightBlue-500" id="register">
    <div class="registration__wrapper container lg:grid lg:gap-x-8">
      <h2 class="registration__title text-4xl mb-3">Регистрация</h2>
      <p class="col-start-2 row-start-2 inline-block lg:text-3xl lg:mt-3.5 mb-3">Старт {{course.date | readableDate}}.</p> 
      <p class="col-start-2 row-start-3 inline-block">Цена — {{course.price | formatNumber}} ₽.</p>
      <form class="row-start-2 row-end-5 text-xl mt-4 max-w-max mb-8 lg:mb-0" method="POST" action="https://cp.unisender.com/ru/subscribe?hash=6i413oehtgia5q95i4sa9xpy16ews1cuocq3rdub4ss7tog6sjk4y" name="subscribtion_form">
        <p class="subscribe-form-item subscribe-form-item--input-string mb-3">
          <label class="subscribe-form-item__label subscribe-form-item__label--input-string ">Имя<br>
            <input class="subscribe-form-item__control subscribe-form-item__control--input-string rounded-lg px-5 pt-3 pb-4 mt-1 w-full text-black" type="text" name="f_7545934" placeholder="Мария">
          </label>
        </p>
        <p class="subscribe-form-item subscribe-form-item--input-string mb-3">
          <label class="subscribe-form-item__label subscribe-form-item__label--input-string ">Телефон<br>
            <input class="subscribe-form-item__control subscribe-form-item__control--input-string rounded-lg px-5 pt-3 pb-4 mt-1 w-full text-black" type="tel" name="phone" size="18" placeholder="+7 999 999-99-99">
          </label>
        </p>
        <p class="subscribe-form-item subscribe-form-item--input-email mb-5">
          <label class="subscribe-form-item__label subscribe-form-item__label--input-email subscribe-form-item__label--required">E-mail<br>
            <input class="subscribe-form-item__control subscribe-form-item__control--input-email rounded-lg px-5 pt-3 pb-4 mt-1 w-full text-black" type="email" name="email" placeholder="primer@mail.ru" size="30" required>
          </label>
        </p>
        <p class="subscribe-form-item subscribe-form-item--btn-submit">
          <input class="subscribe-form-item__btn subscribe-form-item__btn--btn-submit bg-white text-gray-900 px-5 pt-3 pb-4 rounded-full cursor-pointer hover:bg-gray-700" type="submit" value="Отправить">
        </p>
        <input type="hidden" name="charset" value="UTF-8">
        <input type="hidden" name="default_list_id" value="20781675">
        <input type="hidden" name="overwrite" value="2">
        <input type="hidden" name="is_v5" value="1">
      </form>
      <div class="col-start-2 row-start-4 max-w-md mt-auto">
        <p class="mb-2">Мы собираем эту информацию для дальнейшей связи и заключения договора, храним в защищенном месте, и удаляем по вашей просьбе, выраженной лично, по телефону или направленной на <a class="link--solid" href="mailto:{{course.email}}">{{course.email}}</a>.</p>
        <p>Нажимая на кнопку «Отправить», вы соглашаетесь с этими условиями. После этого вам на почту придет письмо, в котором нужно разрешить нам отправлять вам письма.</p>
      </div>
    </div>
  </section>
  <section class="pt-12" id="contact">
    <div class="container lg:grid grid-cols-2 mb-12">
      <h2 class="text-4xl mb-6 col-span-2">Контактная информация</h2>
      <figure class="flex items-center mb-2">
        <img class="rounded-full mr-4 w-20 h-20" loading="lazy" width="70" height="70" src="{{course.src}}" alt="Фото менеджера Школы.">
        <figcaption>
          <a class="font-semibold block text-xl leading-tight whitespace-nowrap" href="tel:{{ course.tel | replace(' ', '') | replace('-', '') }}">{{course.tel}}</a>
          <b class="font-semibold block text-xl">{{course.name}}</b>
          {{course.job}}
        </figcaption>
      </figure>
      <div class="space-y-2 mb-2">
        <p>Электронная почта: <a class="link--solid" href="mailto:{{course.email}}">{{course.email}}</a>
        </p>
        <p>Адрес: г.&nbsp;Тюмень, ул.&nbsp;50 лет Октября, 29, 7&nbsp;этаж</p>
      </div>
      <div class="col-start-2 row-start-2 row-end-4 max-w-sm">
        <p class="mb-6">Подписывайтесь на наши социальные сети, чтобы быть в курсе новостей SMM, получать полезные материалы и ответы на вопросы.</p>
        {% if course.vk %}
          <a class="mr-2 mb-3 contact__social contact__social--vk" href="{{course.vk}}" target="_blank" rel="noopener">ВКонтакте</a>
        {% endif %}
        {% if course.ig %}
          <a class="contact__social contact__social--ig" href="{{course.ig}}" target="_blank" rel="noopener">Инстаграм</a>
        {% endif %}
      </div>
    </div>
    <div class="contact__map">
      <a class="dg-widget-link block pb-2 text-center" href="https://2gis.ru/tyumen/firm/70000001027114573/center/65.573333,57.150363/zoom/16">Посмотреть на карте Тюмени</a>
      <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
      <script charset="utf-8">new DGWidgetLoader({"width":320,"height":400,"pos":{"lat":57.150363,"lon":65.573333,"zoom":16},"opt":{"city":"tyumen"},"org":[{"id":"70000001027114573"}]});</script>
      <noscript>Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
    </div>
  </section>
</main>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  const telInputs = document.querySelectorAll('input[type=tel]');
  for (let i = 0; i < telInputs.length; i++) {
    telInputs[i].addEventListener('input', function(e) {
      let cleaned = e.target.value.replace(/\D/g, '');
      if (['7','8'].indexOf(cleaned[0]) >= 0) {
        cleaned = cleaned.substring(1);
      }
      let match = cleaned.match(/^(\d{3})(\d{3})(\d{2})(\d{2})$/);
      if (match) {
        e.target.value = ['+7 ', match[1], ' ', match[2], '-', match[3], '-', match[4]].join('');
      }
    });
  }
</script>