<footer class="pt-6 pb-8">
    <div class="container lg:flex justify-between items-baseline">
        <p class="mb-4">ИП Петрулёв Дмитрий Сергеевич<br>ИНН 7778644521 / ОГРНИП 3152723200060182<br><small>Юридический адрес: 625030, г. Тюмень, ул. Ставропольская, 80а</small></p>
        <p>{% currentYear %} © Креативное агентство <a class="border-b" href="https://folga.digital/" target="_blank">FOL'GA</a></p>
    </div>
</footer>
<!-- Yandex.Metrika counter --> <script> (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(45499149, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45499149" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- VK Pixel Code -->
<script>!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?167",t.onload=function(){VK.Retargeting.Init("VK-RTRG-466908-4ZpMY"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-466908-4ZpMY" style="position:fixed; left:-999px;" alt=""/></noscript>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '850633538656084');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=850633538656084&ev=PageView&noscript=1"
/></noscript>
<script src="https://vk.com/js/api/openapi.js?168"></script>
<div id="vk_community_messages" hidden></div>
<script>
    VK.Widgets.CommunityMessages("vk_community_messages", 125886439, {
        disableExpandChatSound: "1",
        disableNewMessagesSound: "1",
        tooltipButtonText: "Есть вопрос?"
    });
</script>