<nav class="container text-center pt-4 pb-4 flex flex-wrap justify-between items-baseline">
    <ul class="list-reset flex items-baseline -ml-4 flex-wrap">
        {% for item in navigation.items %}
            <li class="nav__item">
                <a class="text-ml inline-block text-gray-400 no-underline hover:text-lightBlue-500 py-4 px-4" href="{{ item.url }}">{{ item.text }}</a>
            </li>
        {% endfor %}
    </ul>
    <a class="pt-2 pb-2.5 px-5 bg-lightBlue-500 text-white rounded-full hover:bg-lightBlue-600" href="/#register">Записаться</a>
</nav>